<section class="min-110">
  <h2 class="visually-hidden">Motivation section</h2>
  <div class="container min-110-container">
    <img
      class="min-110-img"
      src="./images/110min-imgs/110min-mobile.png"
      alt="Athletic girl"
    />
    <div class="min-110-wrapper">
      <p class="min-110-title">110 min</p>
      <p class="min-110-norm">Daily norm of sports</p>
      <p class="min-110-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
      <span class="min-110-icon-box">
        <svg class="min-110-icon">
          <use href="./images/icon.svg#icon-dumbbell"></use>
        </svg>
      </span>
    </div>
  </div>
</section>
