<section class="favourite_exercises section">
  <div class="container">
    <h2 class="section_title">Favourite</h2>
    <div class="scrollbar_custom">
      <ul class="fav_card_list"></ul>
    </div>
    <div class="no_cards_wrapper visually-hidden">
      <img
        load="lazy"
        class="dumbbell_img"
        srcset="
          ../images/favourite-exercises/dumbbell_mob.png     85w,
          ../images/favourite-exercises/dumbbell_mob@2x.png 170w,
          ../images/favourite-exercises/dumbbell_tab.png    116w,
          ../images/favourite-exercises/dumbbell_tab@2x.png 231w
        "
        sizes="(min-width: 736px) 116px, 85px"
        src="../images/favourite-exercises/dumbbell_mob.png"
        alt="dumbbell icon"
        width="80"
        height="52"
      />
      <p class="info">
        It appears that you haven't added any exercises to your favorites yet.
        To get started, you can add exercises that you like to your favorites
        for easier access in the future.
      </p>
    </div>
  </div>
  <!-- <div
    class="demo cards container"
    style="margin-top: 300px; background-color: var(--gray-color)"
  >
    <ul class="card_overlay_list demo" style="padding: 30px">
      <li data-component="card_overlay" class="list_item">
        <div class="card_overlay">
          <img src="../images/favourite-exercises/demo/air_bake.jpg" alt="" />
          <h3 class="overlay_title" style="margin-top: 20px">Air bake</h3>
          <ul style="margin-top: 20px">
            <li>
              <p>Target: <span class="overlay_target">Abs</span></p>
            </li>
            <li>
              <p>Body Part: <span class="overlay_body_part">Waist</span></p>
            </li>
            <li>
              <p>
                Equipment: <span class="overlay_equipment">Body weight</span>
              </p>
            </li>
            <li>
              <p>Popular: <span class="overlay_popular">150</span></p>
            </li>
            <li>
              <p>
                Burned Calories:
                <span class="overlay_calories">323 / 3 min</span>
              </p>
            </li>
          </ul>
          <p class="overlay_description" style="margin-top: 20px">
            This refers to your core muscles, which include the rectus
            abdominis, obliques, and transverse abdominis. They're essential for
            maintaining posture, stability, and generating force in many
            movements. Exercises that target the abs include crunches, leg
            raises, and planks.
          </p>
        </div>

        <button
          data-action="save_fav_card"
          type="button"
          style="margin-top: 20px"
        >
          Add to favourites
        </button>
      </li>
    </ul>
  </div> -->
</section>
