<section class="favourite_exercises section">
  <div class="container">
    <h2 class="section_title">Favourite</h2>
    <ul class="fav_card_set">
      <li>
        <div class="fav_card">
          <div class="actions_wrapper">
            <div class="workout_wrapper">
              <span class="workout">workout</span>
              <button data-action="delete-fav-card" class="btn">
                <svg width="16" height="16" aria-label="trash icon">
                  <use href="../images/icon.svg#icon-trash"></use>
                </svg>
              </button>
            </div>
            <button data-action="start_exercise_btn" class="btn">
              <span class="start">start</span>
              <svg width="16" height="16" aria-label="arrow icon">
                <use href="../images/icon.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>

          <div class="inner_wrapper">
            <div class="icon_man">
              <svg width="16" height="16">
                <use href="../images/icon.svg#icon-man"></use>
              </svg>
            </div>
            <p>45° side ben</p>
          </div>

          <div class="details_wrapper">
            <ul class="details_list">
              <li>
                <div class="detail_wrapper">
                  <p class="detail_item">
                    Burned calories:
                    <span class="detail_value">13 / 4 min</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="detail_wrapper">
                  <p class="detail_item">
                    Body part: <span class="detail_value">Waist</span>
                  </p>
                </div>
              </li>
              <li>
                <div class="detail_wrapper">
                  <p class="detail_item">
                    Target: <span class="detail_value">Biceps</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="no_cards_wrapper visually-hidden">
      <img
        class="dumbbell_img"
        srcset="
          ../images/favourite-exercises/dumbbell_mob.png     85w,
          ../images/favourite-exercises/dumbbell_mob@2x.png 170w,
          ../images/favourite-exercises/dumbbell_tab.png    116w,
          ../images/favourite-exercises/dumbbell_tab@2x.png 231w
        "
        sizes="(min-width: 736px) 116px, 85px"
        src="../images/favourite-exercises/dumbbell_mob.png"
        alt="dumbbell icon"
        width="80"
        height="52"
      />
      <p class="info">
        It appears that you haven't added any exercises to your favorites yet.
        To get started, you can add exercises that you like to your favorites
        for easier access in the future.
      </p>
    </div>
  </div>
</section>
