<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <div class="container footer-container">
      <footer>
        <div class="nav-address-wrap">
          <div class="nav-container">
            <nav>
              <a href="./index.html" target="_blank" class="footer-logo-item">
                energy.flow
              </a>
            </nav>

            <address class="footer-address">
              <ul class="footer-contacts-list">
                <li class="footer-contact-item">
                  <a href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg width="20" height="20" class="footer-contact-icon">
                      <use href="./images/icon.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-contact-item">
                  <a href="https://www.instagram.com/goitclub/" target="_blank">
                    <svg width="20" height="20" class="footer-contact-icon">
                      <use href="./images/icon.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-contact-item">
                  <a href="https://www.youtube.com/c/GoIT" target="_blank">
                    <svg width="20" height="20" class="footer-contact-icon">
                      <use href="./images/icon.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </address>
          </div>

          <div class="footer-form-container">
            <p class="footer-slogan">
              Transforming your <span>body</span> shape with us
            </p>

            <form
              class="footer-subscribe-form"
              autocomplete="off"
              id="subscriptionForm"
            >
              <label>
                Subscribe and learn about new exercises!
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  class="footer-input"
                  autofocus
                />
              </label>
              <button type="submit" class="footer-send-button">Send</button>
            </form>
          </div>
        </div>

        <div class="footer-rights">
          <p>Energy Flow. All rights reserved.</p>
          <ul class="footer-rights-list">
            <li><a href="">Privacy Policy</a></li>
            <li>/</li>
            <li><a href="">Terms of Service</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <script src="../js/footer.js" type="module"></script>
  </body>
</html>
