<header class="header">
  <div class="container header-row">
    <a class="logo" href="./index.html">energy.flow</a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" id="homeLink" href="./index.html">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" id="favoritesLink" href="./favourite.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <div class="buttons">
      <div class="theme-checkbox">
        <input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox" class="label">
          <svg width="28" height="28" class="fa-moon">
            <use href="./images/icon.svg#icon-moon"></use>
          </svg>
          <svg width="28" height="28" class="fa-sun">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <div class="ball"></div>
        </label>
      </div>
      <div class="theme-switch">
        <input type="checkbox" class="checkbox" id="theme-checkbox" />
        <label for="theme-checkbox" class="label">
          <svg class="icon fa-sun">
            <use href="./images/icon.svg#icon-sun"></use>
          </svg>
          <svg class="icon fa-moon">
            <use href="./images/icon.svg#icon-moon"></use>
          </svg>
        </label>
      </div>
      <ul class="social-media-list">
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="social-media-link"
          >
            <svg width="28" height="28" class="social-media-icon">
              <use href="./images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="social-media-link"
          >
            <svg width="28" height="28" class="social-media-icon">
              <use href="./images/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="social-media-link"
          >
            <svg width="28" height="28" class="social-media-icon">
              <use href="./images/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="open-mobile-menu-btn" type="button">
        <svg class="icon-mobile-nav" width="32" height="16">
          <use href="./images/icon.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- mobile-menu -->
<div class="mobile-menu-wrapper">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <a class="logo mobile-menu-logo" href="./index.html">energy.flow</a>

      <button class="close-mobile-menu-btn" type="button">
        <svg class="icon-mobile-menu-nav" width="24" height="24">
          <use href="./images/icon.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-nav-list">
        <li>
          <a class="nav-link" id="mobileHomeLink" href="./index.html">Home</a>
        </li>
        <li><a class="nav-link" id="mobileFavoritesLink" href="./favourite.html">Favorites</a></li>
      </ul>
    </nav>

    <ul class="mobile-social-media-list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="./images/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="./images/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="social-media-link"
        >
          <svg width="28" height="28" class="social-media-icon">
            <use href="./images/icon.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</div>
