<div id="wellcom-modal">
  <div class="wellcome">
    <img class="modal-img" src="./images/ourTeam/man_1.png" alt="some man" />
    <div class="modal-text">
      <a
        class="close"
        href="#"
        onclick="document.getElementById('wellcom-modal').style.opacity='0'; return false;"
      >
        <svg>
          <use href="./images/icon.svg#icon-x"></use>
        </svg>
      </a>
      <p class="q-text">Interested in our development team?</p>
      <p class="a-text">Then look, there are only the best!</p>
      <a class="team-btn" href="./ourTeam.html" type="button" target="_blank"
        >Look here
        <span>
          <svg class="features-icon" width="13" height="13">
            <use href="./images/icon.svg#icon-arrow"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</div>
