<section class="quote">
  <div class="container quote-container">
    <div class="quote-wrapper">
      <p class="quote-title">Quote of the day</p>
      <p class="quote-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="quote-author">Tom Brady</p>
      <span class="quote-icon">
        <svg>
          <use href="./images/icon.svg#icon-man"></use>
        </svg>
      </span>
      <svg class="quote-commas-icon">
        <use href="./images/icon.svg#icon-commas"></use>
      </svg>
    </div>
    <img
      class="quote-img"
      src="./images/quote-imgs/quote-mobile.png"
      alt="Athletic girl"
    />
  </div>
</section>
