/* !============================= MOBILE ============================ */
.theme-checkbox {
  display: none;
}

.theme-switch {
  display: block;
}

/* ?=========================== MOBILE-MENU ========================= */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(38px);
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 6px;

  height: 28px;
  width: 28px;
  border-radius: 10px;
  border: 1px solid rgba(126, 132, 127, 0.2);
  background-color: transparent;
  cursor: pointer;
}

.ball {
  background-color: var(--white-color);
  border-radius: 10px;
  position: absolute;
  top: 7px;
  left: 6px;
  height: 28px;
  width: 29px;
  transition: transform 0.3s linear;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.7s ease;
}

.fa-moon {
  opacity: 0;
}

.checkbox:checked + .label .fa-sun {
  opacity: 0;
}

.checkbox:checked + .label .fa-moon {
  opacity: 1;
}

.fa-sun,
.fa-moon {
  fill: #7e847f;
  width: 16px;
  height: 16px;
}

.label:hover,
.label:focus {
  .fa-sun,
  .fa-moon {
    fill: #5f6560;
  }

  .ball {
    background-color: #5f6560;
  }

  border: 1px solid rgba(95, 101, 96, 0.2);
}

/* ?========================== /MOBILE-MENU ========================= */
/* !============================ /MOBILE ============================ */
@media screen and (min-width: 768px) {
  .label {
    height: 44px;
    width: 44px;
  }

  .fa-moon,
  .fa-sun {
    width: 28px;
    height: 28px;
  }
}
/* !============================= TABLET ============================ */

/* !============================ /TABLET ============================ */

/* !============================ DESCTOP ============================ */
@media screen and (min-width: 1440px) {
  .theme-switch {
    display: none;
  }

  .theme-checkbox {
    display: block;
  }

  .ball {
    background-color: #7e847f;
  }

  .label {
    display: flex;
    height: 44px;
    width: 80px;
    border: 1px solid rgba(126, 132, 127, 0.2);
  }

  .fa-moon {
    opacity: 1;
  }

  .checkbox:checked + .label .fa-sun {
    opacity: 1;
  }
}
/* !============================ /DESCTOP =========================== */
