.not-scrollable {
  overflow: hidden;
}

.star-rating-list {
  display: flex;
  gap: 2px;
}

.star-rating-icon {
  width: 18px;
  height: 18px;
  fill: rgba(27, 27, 27, 0.2);
}

.rating-container {
  display: flex;
  border-bottom: 1px solid rgba(27, 27, 27, 0.2);
  padding-bottom: 20px;
}

.exr-card-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.exercise-name {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}

.exr-card-cont {
  border-radius: 20px;
  background: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: transform 400ms ease-in-out;
  padding: 40px 20px;
  max-width: 335px;
}

.card-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-card-button {
  position: fixed;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-card-icon {
  stroke: #1c2225;
  width: 24px;
  height: 24px;
}

.close-card-button {
  width: 24px;
  height: 24px;
}

.exr-image {
  margin-bottom: 20px;
  border-radius: 12px;
  min-width: 295px;
}

.exr-information-container {
  padding: 10px 0;
  border-bottom: 1px solid rgba(27, 27, 27, 0.2);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.info-label {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.exr-info {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
}

.exr-description {
  color: rgba(27, 27, 27, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  margin-bottom: 40px;
}

.add-favourite-btn {
  display: flex;
  padding: 12px 83px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #7e847f;
  color: #f6f6f6;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  display: flex;
  border: none;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}

.add-favourite-btn:hover {
  background: #5f6560;
}

.heart-icon {
  width: 18px;
  height: 18px;
  stroke: #f6f6f6;
}

.give-rating-btn {
  padding: 12px 107px;
  border-radius: 30px;
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: -0.2px;
}

.give-rating-btn:hover {
  border: 1px solid #7e847f;
  color: #7e847f;
}

/* Tablet */
@media screen and (min-width: 736px) {
  .exr-card-cont {
    display: flex;
    max-width: 716px;
    padding: 40px;
    gap: 24px;
  }

  .exr-image {
    min-width: 270px;
    height: 259px;
    margin-bottom: 0;
  }

  .add-favourite-btn {
    display: flex;
    padding: 12px 24px;
    border-radius: 30px;
    margin-bottom: 0;
    letter-spacing: -0.1px;
  }

  .buttons-cont {
    display: flex;
    gap: 7px;
    min-width: 342px;
    justify-content: space-evenly;
  }

  .give-rating-btn {
    display: flex;
    padding: 12px 24px;
    border-radius: 30px;
    letter-spacing: -0.1px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .exr-card-cont {
    max-width: 732px;
    gap: 40px;
  }
}
