.exercises-section .container {
  border-radius: 30px;
  background: var(--second-background);
}
.exercises-title {
  font-weight: 400;
  letter-spacing: -0.64px;
  font-size: 32px;
  margin-bottom: 20px;
}
.exercises-subtitle {
  color: var(--gray-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: -0.4px;
}
.filters {
  display: flex;
  gap: 6px;
  margin-bottom: 40px;
}
.filter {
}

.filter button {
  padding: 7px 14px;
  border-radius: 30px;
  outline: transparent;
  border: transparent;
}

.not-active-btn {
  background: var(--white-color);
  color: var(--black-color);
}
.active-btn {
  color: var(--white-color);
  background: #7e847f;
}

.exercises {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 313px;
  margin-bottom: 32px;
}

.no-results-paragraph {
  margin: 0 auto;
  padding-top: 164px;
  padding-bottom: 320px;
  font-size: 14px;
  text-align: center;
}
.no-results-span {
  color: #7e847f;
  font-weight: 500;
}

.exercise {
  position: relative;
  width: 313px;
  height: 250px;
  background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.7) 0%,
      rgba(16, 16, 16, 0.7) 70%
    ),
    lightgray -16.825px 0.844px / 121.36% 108.504% no-repeat;
  border-radius: 12px;
  overflow: hidden;
}

.exercise-image {
  filter: brightness(35%);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.exercise-image:hover,
.exercise-image:focus {
  transform: scale(1.2);
}

.exercise-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  font-weight: 400;
}
.exercise-subtitle {
  font-weight: 400;
  color: var(--white-color);
  font-size: 20px;
}
.exercise-filter {
  font-weight: 400;
  color: rgba(246, 246, 246, 0.4);
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.nav-button {
  outline: transparent;
  border: transparent;
  color: var(--description-color);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.96px;
  background-color: transparent;
  font-family: inherit;
}

.active-nav-button {
  width: 35px;
  height: 35px;
  color: var(--black-color);
  border: 1px solid var(--black-color);
  border-radius: 50%;
}
.exercise-information {
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
  padding: 16px;
  width: 295px;
  flex-shrink: 0;
}
.exercise-information div {
  display: flex;
  align-items: center;
}
.exercise-information div:nth-child(2) {
  margin-top: 25px;
}
.tag {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 15px;
  background: #7e847f;
  padding: 5px 8px;
  margin-right: 16px;
}
.rating {
  display: flex;
  gap: 2px;
}
.details-link {
  margin-left: auto;
}
.icon-man-wrap {
  margin-right: 16px;
  background-color: #7e847f;
  border-radius: 50%;
  padding: 5px;
}
.exercise-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 20px;
  margin-right: 23px;
}
.exercise-details {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 18px;
}
.exercise-detail {
  display: flex;
  gap: 4px;
  align-items: baseline;
}
.detail-title {
  color: var(--description-color);
  font-size: 12px;
  font-weight: 400;
}
.detail-value {
  color: var(--black-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.search-form {
  margin-top: 20px;
  margin-bottom: 40px;
  display: none;
}

.input-container {
  position: relative;
  display: inline;
}
.input-form {
  border-radius: 30px;
  background: var(--white-color);
  border: transparent;
  outline: transparent;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 14px;
  width: 100%;
  box-sizing: border-box;
}
.input-form::placeholder {
  color: var(--black-color);
  opacity: 1;
}
.search-button {
  position: absolute;
  display: inline;
  background: transparent;
  border: transparent;
  outline: transparent;
  right: 10px;
  top: 0;
}

/* ADAPTIVE ON TABLETS */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .filter-search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .search-form {
    margin-top: 0;
  }
  .exercises-title {
    font-size: 44px;
    line-height: 48px; /* 109.091% */
    letter-spacing: -0.88px;
    margin-bottom: 32px;
  }
  .exercises-subtitle {
    font-size: 24px;
    line-height: 32px; /* 100% */
    letter-spacing: -0.48px;
  }
  .filters {
    gap: 8px;
    margin-bottom: 32px;
  }

  .filter button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .exercises {
    gap: 14px;
    width: 640px;
  }
  .exercise {
    margin-bottom: 0;
  }
  .no-results-paragraph {
    width: 536px;
    padding-bottom: 585px;
    padding-top: 232px;
  }

  .exercise-information {
    width: 313px;
  }
  .tag {
    font-size: 15px;
  }
  .details-link {
    font-size: 16px;
  }
  .exercise-name {
    font-size: 24px;
  }
}

/* ADAPTIVE ON LAPTOPS AND COMPUTERS*/
@media screen and (min-width: 1440px) {
  .filter-search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .search-form {
    margin-top: 0;
  }
  .exercises {
    gap: 40px 20px;
    width: 1312px;
    margin-bottom: 32px;
  }
  .exercise {
    margin-bottom: 0;
  }
  .exercises-title {
    font-size: 44px;
  }
  .exercises-subtitle {
    font-size: 24px;
    line-height: 32px; /* 100% */
    letter-spacing: -0.48px;
  }
  .no-results-paragraph {
    padding-top: 217px;
    padding-bottom: 350px;
    width: 684px;
  }
  .exercise-information {
    width: 424px;
  }
}


