.footer {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.footer-container {
  height: 471px;
  padding: 40px 20px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  background-image: url('../images/footer/footer-background.jpg');
  background-size: cover;
  background-position-x: center;
}

.footer-address {
  margin-top: 9px;
  margin-bottom: 40px;
}

.footer-logo-item {
  color: var(--white-color);
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.32px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  gap: 8px;
}

.footer-contact-item {
  padding: 8px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
}

.footer-contact-icon {
  fill: rgba(246, 246, 246, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-item:hover .footer-contact-icon,
.footer-contact-item:focus .footer-contact-icon {
  fill: rgba(126, 132, 127, 1);
}

.footer-form-container {
  margin-bottom: 60px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-slogan {
  color: var(--white-color);
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.64px;
  margin-bottom: 20px;
}

.footer-slogan span {
  color: rgba(246, 246, 246, 0.3);
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.64px;
}

.footer-subscribe-form label {
  color: var(--white-color);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-input::placeholder {
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer-input {
  width: 295px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  color: rgba(246, 246, 246, 0.6);
  font-size: 14px;
}

.footer-send-button {
  border-radius: 30px;
  background: #7e847f;
  padding: 12px 130px;
  border: none;
  color: var(--white-color);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send-button:hover,
.footer-send-button:focus {
  background: #5f6560;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-rights p {
  color: var(--white-color);
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 83.333% */
  letter-spacing: -0.24px;
}

.footer-rights-list {
  display: flex;
  color: var(--white-color);
  text-align: right;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 83.333% */
  letter-spacing: -0.24px;
  gap: 8px;
}

.footer-rights-list a {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-container {
    height: 576px;
    padding: 64px 48px 32px;
    background-image: url('../images/footer/footer-background-tablet.jpg');
    background-size: cover;
    background-position-y: center;
    border-radius: 50px;
  }

  .nav-address-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-form-container {
    width: 345px;
    margin-bottom: 0;
  }

  .footer-logo-item {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.56px;
  }
  .footer-address {
    margin-top: 30px;
  }
  .footer-contact-item {
    height: 44px;
  }
  .footer-contact-icon {
    width: 28px;
    height: 28px;
  }

  .footer-slogan {
    font-size: 54px;
    line-height: 50px;
    letter-spacing: -1.08px;
    margin-bottom: 32px;
  }

  .footer-slogan span {
    font-size: 54px;
    line-height: 50px;
  }

  .footer-subscribe-form label {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.24px;
    margin-bottom: 20px;
  }

  .footer-input {
    width: 345px;
    font-size: 16px;
  }

  .footer-send-button {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-input::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-rights {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }

  .footer-form-container {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
  .footer-container {
    height: 454px;
    padding: 64px 48px 26px;
    background-image: url('../images/footer/footer-background-desktop.jpg');
  }

  .footer-slogan {
    font-size: 64px;
    line-height: 62px;
    letter-spacing: -1.28px;
  }

  .footer-slogan span {
    font-size: 64px;
    line-height: 62px;
    letter-spacing: -1.28px;
  }

  .nav-address-wrap {
    gap: 162px;
    margin-bottom: 160px;
  }

  .footer-form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }

  .footer-slogan {
    width: 488px;
    margin-bottom: 0;
  }

  .footer-rights p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }

  .footer-rights-list {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
}

@media (min-resolution: 192dpi) {
  .footer-container {
    background-image: url('../images/footer/footer-background@2.jpg');
  }
  @media screen and (min-width: 768px) {
    .footer-container {
      background-image: url('../images/footer/footer-background-tablet@2.jpg');
    }
  }
  @media screen and (min-width: 1440px) {
    .footer-container {
      background-image: url('../images/footer/footer-background-desktop@2.jpg');
    }
  }
}
