/* !============================ MOBILE ============================ */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  padding-top: 40px;
  margin: 0 auto;
}

.header-row {
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  display: block;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
  user-select: none;
}

.nav-list,
.social-media-list {
  display: none;
}

.icon-mobile-nav {
  stroke: #7e847f;
}

/* ?=========================== MOBILE-MENU ========================== */
.open-mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.mobile-menu-wrapper {
  display: flex;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(190%);
  transition: transform 3s ease, opacity 4s ease;
}

.mobile-menu-wrapper.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 30px;

  background-color: #7e847f;
}

.mobile-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-logo {
  color: var(--white-color);
}

.close-mobile-menu-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.icon-mobile-menu-nav {
  stroke: var(--white-color);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 60px;
  color: var(--white-color);
}

.nav-link {
  display: block;
  border-radius: 30px;
  line-height: 1.5;
}

.active-link {
  padding: 6px 26px;
  color: var(--black-color);
  background-color: #fff;

  /*transition*/
}

.mobile-social-media-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--white-color);
  fill: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
}

.social-media-link:hover,
.social-media-link:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  stroke: #fff;
  fill: #fff;
}

.mobile-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
/* ?========================== /MOBILE-MENU ========================== */

/**======================== STICKY NAVIGATION =======================**/
.sticky-animation .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3.3px);
  border-radius: 10px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.03);
}

.sticky-animation .header-row {
  padding: 10px 40px;
}
/**======================= /STICKY NAVIGATION =======================**/
/* !============================ /MOBILE ============================ */

/* !============================ TABLET ============================ */
@media screen and (min-width: 768px) {
  .header-row {
    width: auto;
    padding: 0 48px;
    justify-content: left;
  }

  .logo {
    font-size: 28px;
    line-height: 1;
  }

  .nav-list {
    width: 211px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 60px;
    color: #fff;
    background-color: #7e847f;
    user-select: none;
    margin-left: 81px;
    margin-right: 18px;
  }

  .buttons {
    display: flex;
    gap: 12px;
  }

  .social-media-list {
    display: flex;
    gap: 12px;
  }

  .social-media-link {
    border: 1px solid rgba(126, 132, 127, 0.2);
    stroke: #7e847f;
    fill: #7e847f;
  }

  .social-media-link:hover,
  .social-media-link:focus {
    border: 1px solid rgba(95, 101, 96, 0.2);
    stroke: #5f6560;
    fill: #5f6560;
  }

  .open-mobile-menu-btn {
    display: none;
  }

  .nav-link.active {
    color: var(--black-color);
    background: white;
    border-radius: 30px;
    display: flex;
    padding: 6px 26px;
    justify-content: center;
    align-items: center;
  }

  /**======================== STICKY NAVIGATION =======================**/
  .header {
    transition: opacity 0.9s ease, visibility 0.9s;
  }

  .sticky .header {
    opacity: 0;
    visibility: hidden;
  }

  .sticky-animation .header {
    height: 72px;

    opacity: 1;
    visibility: visible;
  }
  /**======================= /STICKY NAVIGATION =======================**/
}
/* !============================ /TABLET ============================ */

/* !============================ DESCTOP ============================ */
@media screen and (min-width: 1440px) {
  .header-row {
    padding: 0 64px;
  }

  .nav-list {
    margin-right: 282px;
    margin-left: 397px;
  }
}
/* !============================ /DESCTOP ============================ */
