@import url('./common.css');
@import url('./reset.css');
@import url('./header_home.css');

:root {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;

  color: var(--black-color);
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black-color: #1b1b1b;
  --placeholder-text-color: rgba(27, 27, 27, 0.6);
  --gray-color: rgba(27, 27, 27, 0.5);
  --white-color: #f6f6f6;
  --description-color: rgba(27, 27, 27, 0.4);
}

/* Colors */
