@media screen and (min-width: 320px) {

    .backdrop {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(27, 27, 27, 0.60);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
    }

    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .backdrop-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 250ms ease-in-out;
        padding: 40px 20px;
        max-width: 335px;
        max-height: 357px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #F6F6F6;

        background: #FCFCFC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    }

    .backdrop-form {
        display: flex;
        flex-direction: column;
    }

    .rating-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        margin-top: 8px;
        width: 149px;
    }

    #form-close-btn {
        position: absolute;
        right: 14px;
        top: 14px;
        background: transparent;
        border: none;
        padding: 0;
    }

    #user-email {
        display: inline-flex;
        padding-left: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 20px;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        border: 1px solid rgba(27, 27, 27, 0.40);

        font-size: 14px;
        line-height: 1.29;

    }

    #user-comment {
        height: 93px;
        display: inline-flex;
        padding-top: 12px;
        padding-left: 14px;
        margin-top: 10px;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid rgba(27, 27, 27, 0.40);
        resize: none;

        font-size: 14px;
        line-height: 1.29;
    }

    .backdrop-form-text {
        font-size: 12px;
        line-height: 1.5;
    }

    .rating-star-value {
        font-weight: 400;
        color: #1B1B1B;
        font-size: 12px;
        line-height: 1.5;
    }

    .form-close-btn-icon {
        stroke: black;
    }

    .rating-star-icons {
        fill: rgba(27, 27, 27, 0.20);
    }

    .form-send-btn {
        display: flex;
        padding: 12px 131px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: none;
        border-radius: 30px;
        background: #7E847F;

        color: #F6F6F6;
        font-size: 14px;
        line-height: 1.29;

        transition: background 250ms ease-in-out;
    }

    .form-send-btn:hover,
    .form-send-btn:focus {
        background: #5F6560;
    }
}

@media screen and (min-width: 768px) {
    .backdrop-container {
        padding: 50px;
        max-width: 450px;
        max-height: 432px;
    }

    #user-email {
        margin-top: 32px;
    }

    #user-comment {
        margin-top: 16px;
    }

    .form-send-btn {
        margin-top: 32px;
    }
}